/* line 82, ../CC-SASS/_cloud-city.scss */
.widget-title h5 {
  color: #375245;
  font-size: 1em;
  text-align: center;
}

/* line 89, ../CC-SASS/_cloud-city.scss */
.widget {
  color: #3f5e5e;
  background-color: black;
  border-width: 1px;
  border-style: solid;
  border-color: #333333;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 90, ../CC-SASS/_cloud-city.scss */
.widget ul {
  list-style-type: none;
  font-size: .9em;
}
/* line 34, ../CC-SASS/_cloud-city.scss */
.widget a {
  color: #333333;
}
/* line 36, ../CC-SASS/_cloud-city.scss */
.widget a:hover {
  color: #ff6633;
  border-bottom: 1px dotted #333333;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
.widget a:visited {
  color: #3f5e5e;
}
/* line 42, ../CC-SASS/_cloud-city.scss */
.widget a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}

/* line 104, ../CC-SASS/_cloud-city.scss */
#secondary, #masthead, #colophon {
  border-width: 1px;
  border-style: solid;
  border-color: #3f5e5e;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  -moz-box-shadow: 2px 3px 5px #3f5e5e;
  -webkit-box-shadow: 2px 3px 5px #3f5e5e;
  box-shadow: 2px 3px 5px #3f5e5e;
  background-color: black;
}
/* line 34, ../CC-SASS/_cloud-city.scss */
#secondary a, #masthead a, #colophon a {
  color: #333333;
}
/* line 36, ../CC-SASS/_cloud-city.scss */
#secondary a:hover, #masthead a:hover, #colophon a:hover {
  color: #ff6633;
  border-bottom: 1px dotted #333333;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
#secondary a:visited, #masthead a:visited, #colophon a:visited {
  color: #3f5e5e;
}
/* line 42, ../CC-SASS/_cloud-city.scss */
#secondary a:visited:hover, #masthead a:visited:hover, #colophon a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}

/* line 107, ../CC-SASS/_cloud-city.scss */
#masthead {
  margin-bottom: 4px;
}

/* line 109, ../CC-SASS/_cloud-city.scss */
#colphon {
  margin-top: 4px;
}

/* line 112, ../CC-SASS/_cloud-city.scss */
.site-description h2 {
  color: #375245;
  margin-left: 24px;
}

/* line 118, ../CC-SASS/_cloud-city.scss */
nav #nav-below {
  border-width: 1px;
  border-style: solid;
  border-color: #3f5e5e;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #3f5e5e;
  -moz-box-shadow: 2px 3px 5px #3f5e5e;
  -webkit-box-shadow: 2px 3px 5px #3f5e5e;
  box-shadow: 2px 3px 5px #3f5e5e;
  background-color: black;
  margin-top: 4px;
  margin-bottom: 4px;
}
/* line 34, ../CC-SASS/_cloud-city.scss */
nav #nav-below a {
  color: #333333;
}
/* line 36, ../CC-SASS/_cloud-city.scss */
nav #nav-below a:hover {
  color: #ff6633;
  border-bottom: 1px dotted #333333;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
nav #nav-below a:visited {
  color: #3f5e5e;
}
/* line 42, ../CC-SASS/_cloud-city.scss */
nav #nav-below a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}

/* line 128, ../CC-SASS/_cloud-city.scss */
.nav-prev {
  font-size: 10em;
}

/* line 131, ../CC-SASS/_cloud-city.scss */
.top-bar .name h1 a, h1.site-title a {
  color: #ff6633 !important;
}
/* line 134, ../CC-SASS/_cloud-city.scss */
.top-bar .name h1 a:visited, h1.site-title a:visited {
  color: #ff6633 !important;
}

/* line 140, ../CC-SASS/_cloud-city.scss */
.page-header, .post-header, #comments {
  border-width: 1px;
  border-style: solid;
  border-color: #3f5e5e;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  -moz-box-shadow: 2px 3px 5px #3f5e5e;
  -webkit-box-shadow: 2px 3px 5px #3f5e5e;
  box-shadow: 2px 3px 5px #3f5e5e;
  background-color: black;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 34, ../CC-SASS/_cloud-city.scss */
.page-header a, .post-header a, #comments a {
  color: #333333;
}
/* line 36, ../CC-SASS/_cloud-city.scss */
.page-header a:hover, .post-header a:hover, #comments a:hover {
  color: #ff6633;
  border-bottom: 1px dotted #333333;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
.page-header a:visited, .post-header a:visited, #comments a:visited {
  color: #3f5e5e;
}
/* line 42, ../CC-SASS/_cloud-city.scss */
.page-header a:visited:hover, .post-header a:visited:hover, #comments a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}
/* line 76, ../CC-SASS/_cloud-city.scss */
.page-header h1, .post-header h1, #comments h1 {
  color: #0099ff;
}

/* line 145, ../CC-SASS/_cloud-city.scss */
.post, .page {
  border-width: 1px;
  border-style: solid;
  border-color: #3f5e5e;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  -moz-box-shadow: 2px 3px 5px #3f5e5e;
  -webkit-box-shadow: 2px 3px 5px #3f5e5e;
  box-shadow: 2px 3px 5px #3f5e5e;
  background-color: black;
}
/* line 34, ../CC-SASS/_cloud-city.scss */
.post a, .page a {
  color: #333333;
}
/* line 36, ../CC-SASS/_cloud-city.scss */
.post a:hover, .page a:hover {
  color: #ff6633;
  border-bottom: 1px dotted #333333;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
.post a:visited, .page a:visited {
  color: #3f5e5e;
}
/* line 42, ../CC-SASS/_cloud-city.scss */
.post a:visited:hover, .page a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}
/* line 76, ../CC-SASS/_cloud-city.scss */
.post h1, .page h1 {
  color: #ff6633;
}
/* line 148, ../CC-SASS/_cloud-city.scss */
.post h1 a, .page h1 a {
  color: #0099ff;
}
/* line 149, ../CC-SASS/_cloud-city.scss */
.post h1 a:vistied, .page h1 a:vistied {
  color: #0099ff;
}
/* line 151, ../CC-SASS/_cloud-city.scss */
.post h2, .page h2 {
  color: #0099ff;
}
/* line 152, ../CC-SASS/_cloud-city.scss */
.post h3, .post h4, .post h5, .post h6, .post h7, .page h3, .page h4, .page h5, .page h6, .page h7 {
  color: white;
}

/* line 155, ../CC-SASS/_cloud-city.scss */
.preview h1 {
  text-align: center;
  font-size: 1.5em;
}

/* line 161, ../CC-SASS/_cloud-city.scss */
.nav-previous, .nav-next {
  margin-left: 2px;
  margin-right: 2px;
}
/* line 164, ../CC-SASS/_cloud-city.scss */
.nav-previous a:hover, .nav-next a:hover {
  color: #0099ff;
}
