/** http://www.dafont.com/harabara.font **/
/** (C) Łukasz Dziedzic -> SIL Open Font License, 1.1 **/
@font-face {
  font-family: 'Lato-Bla';
  src: url("fonts/Lato-Bla.eot");
  src: local("☺"), url("fonts/Lato-Bla.woff") format("woff"), url("fonts/Lato-Bla.ttf") format("truetype"), url("fonts/Lato-Bla.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Hai';
  src: url("fonts/Lato-Hai.eot");
  src: local("☺"), url("fonts/Lato-Hai.woff") format("woff"), url("fonts/Lato-Hai.ttf") format("truetype"), url("fonts/Lato-Hai.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-RegIta';
  src: url("fonts/Lato-RegIta.eot");
  src: local("☺"), url("fonts/Lato-RegIta.woff") format("woff"), url("fonts/Lato-RegIta.ttf") format("truetype"), url("fonts/Lato-RegIta.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Reg';
  src: url("fonts/Lato-Reg.eot");
  src: local("☺"), url("fonts/Lato-Reg.woff") format("woff"), url("fonts/Lato-Reg.ttf") format("truetype"), url("fonts/Lato-Reg.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bol';
  src: url("fonts/Lato-Bol.eot");
  src: url("fonts/Lato-Bol.woff") format("woff"), url("fonts/Lato-Bol.ttf") format("truetype"), url("fonts/Lato-Bol.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 89, ../CC-SASS/_cloud-city.scss */
body {
  font-family: 'Lato-Reg', Helvetica neue, sans-serif;
}

/* line 93, ../CC-SASS/_cloud-city.scss */
h1 {
  font-family: 'Lato-Bol', Helvetica neue, sans-serif;
}

/* line 97, ../CC-SASS/_cloud-city.scss */
h2, h3, h4, h5, h6, h7 {
  font-family: 'Lato-Bla', Helvetica neue, sans-serif;
}

/* line 103, ../CC-SASS/_cloud-city.scss */
.widget-title h5 {
  font-family: 'Lato-Hai', Helvetica neue, sans-serif;
  color: #375245;
  font-size: 1em;
  text-align: center;
}

/* line 111, ../CC-SASS/_cloud-city.scss */
.widget {
  color: #3f5e5e;
  background-color: #fbfbfb;
  border-width: 1px;
  border-style: solid;
  border-color: #669999;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 5px 5px 5px 5px;
}
/* line 38, ../CC-SASS/_cloud-city.scss */
.widget a {
  color: #375245;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
.widget a:hover {
  color: #33cc66;
  border-bottom: 1px dotted #669999;
}
/* line 44, ../CC-SASS/_cloud-city.scss */
.widget a:visited {
  color: #3f5e5e;
}
/* line 46, ../CC-SASS/_cloud-city.scss */
.widget a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}
/* line 118, ../CC-SASS/_cloud-city.scss */
.widget ul {
  list-style-type: none;
  font-size: .9em;
}

/* line 125, ../CC-SASS/_cloud-city.scss */
#secondary, #masthead, #colophon {
  -moz-box-shadow: 1px 2px 3px #3f5e5e;
  -webkit-box-shadow: 1px 2px 3px #3f5e5e;
  box-shadow: 1px 2px 3px #3f5e5e;
  border-width: 1px;
  border-style: solid;
  border-color: #3f5e5e;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: black;
  background-color: #fbfbfb;
}
/* line 38, ../CC-SASS/_cloud-city.scss */
#secondary a, #masthead a, #colophon a {
  color: #375245;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
#secondary a:hover, #masthead a:hover, #colophon a:hover {
  color: #33cc66;
  border-bottom: 1px dotted #669999;
}
/* line 44, ../CC-SASS/_cloud-city.scss */
#secondary a:visited, #masthead a:visited, #colophon a:visited {
  color: #3f5e5e;
}
/* line 46, ../CC-SASS/_cloud-city.scss */
#secondary a:visited:hover, #masthead a:visited:hover, #colophon a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}

/* line 128, ../CC-SASS/_cloud-city.scss */
#masthead {
  margin-bottom: 4px;
}

/* line 130, ../CC-SASS/_cloud-city.scss */
#colphon {
  margin-top: 4px;
}

/* line 133, ../CC-SASS/_cloud-city.scss */
.site-description h2 {
  color: #375245;
  margin-left: 15px;
}

/* line 139, ../CC-SASS/_cloud-city.scss */
nav #nav-below {
  border-width: 1px;
  border-style: solid;
  border-color: #3f5e5e;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #3f5e5e;
  -moz-box-shadow: 1px 2px 3px #3f5e5e;
  -webkit-box-shadow: 1px 2px 3px #3f5e5e;
  box-shadow: 1px 2px 3px #3f5e5e;
  background-color: #fbfbfb;
  margin-top: 4px;
  margin-bottom: 4px;
}
/* line 38, ../CC-SASS/_cloud-city.scss */
nav #nav-below a {
  color: #375245;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
nav #nav-below a:hover {
  color: #33cc66;
  border-bottom: 1px dotted #669999;
}
/* line 44, ../CC-SASS/_cloud-city.scss */
nav #nav-below a:visited {
  color: #3f5e5e;
}
/* line 46, ../CC-SASS/_cloud-city.scss */
nav #nav-below a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}

/* line 149, ../CC-SASS/_cloud-city.scss */
.nav-prev {
  font-size: 10em;
}

/* line 151, ../CC-SASS/_cloud-city.scss */
.top-bar .name h1, h1.site-title, .top-bar-section li a:not(.button), .top-bar-section ul, #masthead, #site-navigation, .sticky-topbar {
  background-color: #fbfbfb;
}
/* line 152, ../CC-SASS/_cloud-city.scss */
.top-bar .name h1 a, h1.site-title a, .top-bar-section li a:not(.button) a, .top-bar-section ul a, #masthead a, #site-navigation a, .sticky-topbar a {
  color: #33cc66 !important;
}
/* line 155, ../CC-SASS/_cloud-city.scss */
.top-bar .name h1 a:visited, h1.site-title a:visited, .top-bar-section li a:not(.button) a:visited, .top-bar-section ul a:visited, #masthead a:visited, #site-navigation a:visited, .sticky-topbar a:visited {
  color: #33cc66 !important;
}

/* line 162, ../CC-SASS/_cloud-city.scss */
.top-bar-section li a:not(.button):hover {
  background-color: black;
}

/* line 166, ../CC-SASS/_cloud-city.scss */
.page-header, .post-header, #comments {
  -moz-box-shadow: 1px 2px 3px #3f5e5e;
  -webkit-box-shadow: 1px 2px 3px #3f5e5e;
  box-shadow: 1px 2px 3px #3f5e5e;
  border-width: 1px;
  border-style: solid;
  border-color: #3f5e5e;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: black;
  background-color: #fbfbfb;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 38, ../CC-SASS/_cloud-city.scss */
.page-header a, .post-header a, #comments a {
  color: #375245;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
.page-header a:hover, .post-header a:hover, #comments a:hover {
  color: #33cc66;
  border-bottom: 1px dotted #669999;
}
/* line 44, ../CC-SASS/_cloud-city.scss */
.page-header a:visited, .post-header a:visited, #comments a:visited {
  color: #3f5e5e;
}
/* line 46, ../CC-SASS/_cloud-city.scss */
.page-header a:visited:hover, .post-header a:visited:hover, #comments a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}
/* line 84, ../CC-SASS/_cloud-city.scss */
.page-header h1, .post-header h1, #comments h1 {
  color: #0099ff;
}

/* line 171, ../CC-SASS/_cloud-city.scss */
.post, .page {
  -moz-box-shadow: 1px 2px 3px #3f5e5e;
  -webkit-box-shadow: 1px 2px 3px #3f5e5e;
  box-shadow: 1px 2px 3px #3f5e5e;
  border-width: 1px;
  border-style: solid;
  border-color: #3f5e5e;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: black;
  background-color: #fbfbfb;
}
/* line 38, ../CC-SASS/_cloud-city.scss */
.post a, .page a {
  color: #375245;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
.post a:hover, .page a:hover {
  color: #33cc66;
  border-bottom: 1px dotted #669999;
}
/* line 44, ../CC-SASS/_cloud-city.scss */
.post a:visited, .page a:visited {
  color: #3f5e5e;
}
/* line 46, ../CC-SASS/_cloud-city.scss */
.post a:visited:hover, .page a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}
/* line 84, ../CC-SASS/_cloud-city.scss */
.post h1, .page h1 {
  color: #33cc66;
}
/* line 173, ../CC-SASS/_cloud-city.scss */
.post h1, .page h1 {
  padding-left: 15px;
}
/* line 175, ../CC-SASS/_cloud-city.scss */
.post h1 a, .page h1 a {
  color: #0099ff;
}
/* line 176, ../CC-SASS/_cloud-city.scss */
.post h1 a:vistied, .page h1 a:vistied {
  color: #0099ff;
}
/* line 178, ../CC-SASS/_cloud-city.scss */
.post h2, .page h2 {
  color: #0099ff;
}
/* line 179, ../CC-SASS/_cloud-city.scss */
.post h3, .post h4, .post h5, .post h6, .post h7, .page h3, .page h4, .page h5, .page h6, .page h7 {
  color: black;
}

/* line 182, ../CC-SASS/_cloud-city.scss */
.post-thumbnail img {
  width: 100%;
}

/* line 186, ../CC-SASS/_cloud-city.scss */
.entry-meta, .entry-content {
  padding-left: 15px;
  padding-right: 4px;
}

/* line 191, ../CC-SASS/_cloud-city.scss */
.preview h1 {
  text-align: center;
  font-size: 1.5em;
}

/* line 197, ../CC-SASS/_cloud-city.scss */
.nav-previous, .nav-next {
  margin-left: 2px;
  margin-right: 2px;
}
/* line 200, ../CC-SASS/_cloud-city.scss */
.nav-previous a:hover, .nav-next a:hover {
  color: #0099ff;
}

/* line 203, ../CC-SASS/_cloud-city.scss */
.sidebar-float {
  float: right;
  margin-bottom: 20px;
  width: 31.33333%;
}

/*Masonry*/
/* line 209, ../CC-SASS/_cloud-city.scss */
.masonry-entry {
  border-width: 1px;
  border-style: solid;
  border-color: #3f5e5e;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: black;
  background-color: #fbfbfb;
}
/* line 38, ../CC-SASS/_cloud-city.scss */
.masonry-entry a {
  color: #375245;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
.masonry-entry a:hover {
  color: #33cc66;
  border-bottom: 1px dotted #669999;
}
/* line 44, ../CC-SASS/_cloud-city.scss */
.masonry-entry a:visited {
  color: #3f5e5e;
}
/* line 46, ../CC-SASS/_cloud-city.scss */
.masonry-entry a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}

/* line 212, ../CC-SASS/_cloud-city.scss */
.masonry-details {
  padding: 2px 2px 2px 2px;
}

/* line 216, ../CC-SASS/_cloud-city.scss */
.masonry-post-title {
  color: #33cc66;
}

/* line 219, ../CC-SASS/_cloud-city.scss */
.masonry-post-excerpt .excerpt {
  color: #0099ff;
}

/* line 223, ../CC-SASS/_cloud-city.scss */
.masonry-thumbnail img {
  width: 100%;
}

/* line 227, ../CC-SASS/_cloud-city.scss */
#content {
  padding: 0 0 0 0;
}
