/* line 76, ../CC-SASS/_cloud-city.scss */
.widget-title h1 {
  color: #375245;
  font-size: 1em;
  text-align: center;
}

/* line 83, ../CC-SASS/_cloud-city.scss */
.widget {
  color: #3f5e5e;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #669999;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 84, ../CC-SASS/_cloud-city.scss */
.widget ul {
  list-style-type: none;
  font-size: .9em;
}
/* line 34, ../CC-SASS/_cloud-city.scss */
.widget a {
  color: #669999;
}
/* line 36, ../CC-SASS/_cloud-city.scss */
.widget a:hover {
  color: #33cc66;
  border-bottom: 1px dotted #669999;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
.widget a:visited {
  color: #3f5e5e;
}
/* line 42, ../CC-SASS/_cloud-city.scss */
.widget a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}

/* line 98, ../CC-SASS/_cloud-city.scss */
#secondary, #masthead, #colophon {
  border-width: 1px;
  border-style: solid;
  border-color: #3f5e5e;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: black;
  -moz-box-shadow: 2px 3px 5px #3f5e5e;
  -webkit-box-shadow: 2px 3px 5px #3f5e5e;
  box-shadow: 2px 3px 5px #3f5e5e;
  background-color: white;
}
/* line 34, ../CC-SASS/_cloud-city.scss */
#secondary a, #masthead a, #colophon a {
  color: #669999;
}
/* line 36, ../CC-SASS/_cloud-city.scss */
#secondary a:hover, #masthead a:hover, #colophon a:hover {
  color: #33cc66;
  border-bottom: 1px dotted #669999;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
#secondary a:visited, #masthead a:visited, #colophon a:visited {
  color: #3f5e5e;
}
/* line 42, ../CC-SASS/_cloud-city.scss */
#secondary a:visited:hover, #masthead a:visited:hover, #colophon a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}

/* line 101, ../CC-SASS/_cloud-city.scss */
#masthead {
  margin-bottom: 4px;
}

/* line 103, ../CC-SASS/_cloud-city.scss */
#colphon {
  margin-top: 4px;
}

/* line 106, ../CC-SASS/_cloud-city.scss */
.site-description h2 {
  color: #375245;
  margin-left: 24px;
}

/* line 112, ../CC-SASS/_cloud-city.scss */
nav #nav-below {
  border-width: 1px;
  border-style: solid;
  border-color: #3f5e5e;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #3f5e5e;
  -moz-box-shadow: 2px 3px 5px #3f5e5e;
  -webkit-box-shadow: 2px 3px 5px #3f5e5e;
  box-shadow: 2px 3px 5px #3f5e5e;
  background-color: white;
  margin-top: 4px;
  margin-bottom: 4px;
}
/* line 34, ../CC-SASS/_cloud-city.scss */
nav #nav-below a {
  color: #669999;
}
/* line 36, ../CC-SASS/_cloud-city.scss */
nav #nav-below a:hover {
  color: #33cc66;
  border-bottom: 1px dotted #669999;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
nav #nav-below a:visited {
  color: #3f5e5e;
}
/* line 42, ../CC-SASS/_cloud-city.scss */
nav #nav-below a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}

/* line 122, ../CC-SASS/_cloud-city.scss */
.nav-prev {
  font-size: 10em;
}

/* line 125, ../CC-SASS/_cloud-city.scss */
.top-bar .name h1 a, h1.site-title a {
  color: #33cc66 !important;
}
/* line 128, ../CC-SASS/_cloud-city.scss */
.top-bar .name h1 a:visited, h1.site-title a:visited {
  color: #33cc66 !important;
}

/* line 134, ../CC-SASS/_cloud-city.scss */
.masonry-entry {
  border-width: 1px;
  border-style: solid;
  border-color: #3f5e5e;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: black;
  -moz-box-shadow: 2px 3px 5px #3f5e5e;
  -webkit-box-shadow: 2px 3px 5px #3f5e5e;
  box-shadow: 2px 3px 5px #3f5e5e;
  background-color: white;
  padding: 0px, 0px, 0px, 0px;
}
/* line 34, ../CC-SASS/_cloud-city.scss */
.masonry-entry a {
  color: #669999;
}
/* line 36, ../CC-SASS/_cloud-city.scss */
.masonry-entry a:hover {
  color: #33cc66;
  border-bottom: 1px dotted #669999;
}
/* line 40, ../CC-SASS/_cloud-city.scss */
.masonry-entry a:visited {
  color: #3f5e5e;
}
/* line 42, ../CC-SASS/_cloud-city.scss */
.masonry-entry a:visited:hover {
  color: #0099ff;
  border-bottom: 1px dotted #3f5e5e;
}

/* line 138, ../CC-SASS/_cloud-city.scss */
.masonry-post-excerpt p.excerpt {
  margin: 5px 5px 5px 5px;
}
