@import "skin1-colors";
@import "jp-standard";
@import "gethen-mixin";
@import "super-menu";


.site-title, .site-description {
	text-align:center;
}
#site-meta {
	h1.site-title {
		a, a:visited, {color: $secondary;}
		a:hover, {color: $alt1;}
	}
	h2.site-description  {
		color: $alt2;
	}
}
.callout-title  {
	margin-top:0px;
	text-align: center;
		h3 {color: $alt1;}
		h3 a, h3 a:visited {color: $alt1;}
		h3 a:hover {color: $alt2;}
}

article {
	@include gethen;
}
article .row, .hentry, #callout-3-row, footer {
	margin-top:8px !important;
	padding-left: 4px;
}

.callout-box {
	@include gethen;
}

#menu-toggle {
	z-index:50;
	left: 0;
	margin-left:10px;
	display: block;
	height: 0;
	top: 4px;
	position: fixed;z-index:50;
	background-color: $accentTint;
}

.page-header, #comments, #colophon, #footer-widgets {
	@include gethen;
}

.page-header {
	padding: 0 4px 0 4px;
}

.footer-widgets {
	@include aUniform;
}

#footer-widgets {
	@include margin-even(4px);
	@include padding-even(4px);
}


#post-nav-row, #site-info-row {
	margin: 4px 1px 4px 1px;
}
#colophon {
	margin-top:8px !important;
}

.button {
	background-color: $alt1;
	&:hover {background-color: $accent;}
	a:hover {color: $secondary;}
}
.read-more .read-more-button {
	margin-top:2px;
}

#entry-meta {
	padding: 0 4px;
	@include gethen;
}


#secondary  {
	@include gethen;
	padding-right: 4px;
}

.widget {
	ul {
			list-style-type: none;
			font-size: .9em;
		}
	padding-right: 4px;
}