@import "jp-color-vars";
@import "jp-standard";
@import "gethen-mixin";
@import "super-menu";


.site-title, .site-description {
	text-align:center;
}
hgroup {
	.site-title {
		
		color: $alt1;
	}
	.site-description  {
		color: $alt2;
	}
}
.callout-box .callout-title  {
	text-align: center;
		h3 {color: $alt1;}
		h3 a, h3 a:visited {color: $alt1;}
		h3 a:hover {color: $alt2;}
}

article {
	@include gethen;
}
article .row, .hentry {
	margin-top:8px !important;
}

.callout-box {
	@include gethen;
}

#menu-toggle {
	z-index:50;
	left: 0;
	margin-left:10px;
	display: block;
	height: 0;
	top: 4px;
	position: fixed;z-index:50;
}

footer {
	@include gethen;
}

.footer-widgets, #footer-widgets {
	@include gethen;
}

#footer-widgets {
	@include margin-even(4px);
}

#post-nav-row, #site-info-row {
	margin: 4px 1px 4px 1px;
}
footer.row {
	margin-top:8px !important;
}